$primary_color: #0175A8;

html, body {
  font-family: Verdana;
  size: 14px;
}

body {
  color: #FFF;
  background: $primary_color;
}

html, body, #main, section {
  width: 100%;
  height: 100%;
}

section#intro {
    .logo {
      width: 300px;
    }
  h1 {
    padding: 20px 0;
  }
}

.wrapper-table {
  display: table;
  width: 100%;
  height: 100%;
  .wrapper-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

#all-to-action {
  position: absolute;
  right: 10px;
  bottom: 10px;
}